html,body,ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#box{
	width:100%;
	  height: 100%;
	  position: absolute;
	  left:0;
	  top: 0;
	  transition: all .4s;
}
.page{
	width: 100%;
	  height: 100%;
	  background: red;
	  color: #fff;
	  transition: ease .6s;
	  position: relative;
}
#openBox{
	position: fixed;
	  right: 25px;
	  top: 50%;
	  z-index: 99;
	  margin-top: -91px;
}
#openBox .active{
	width: 10px;
	  height: 10px;
	padding: 8px;
	margin: 8px;
	  display: block;
	  cursor: pointer;
	  border: 1px solid #cccccc;
	  border-radius: 50%;
	  background: #000;
	  transition: all .5s ease;
}

/*于爱民第三屏*/
.cases{
	line-height: normal;
	width: 100%;
	position: relative;
	top: 232px;
	transition:all .3s ease-in-out 0s;
}
.cases .caption{
	width: 100%;
	text-align: center;
}
.cases .caption p{
	margin: 0 auto 20px;
	width: 129px;
	height: 37px;
	background: url(../image/words.png)no-repeat 0 -528px;
}
.cases .caption span{
	font-size: 24px;
	padding-left: 10px;
	letter-spacing: 3px;
	color: #333;
	display: block;
}
.cases .items{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	margin-top: 60px;
	overflow: hidden;
}
.cases .items .swip{
	position: relative;
}
.cases .items .slide{
	width: 340px;
	float: left;
	margin: 0 10px;
	border-bottom: 2px solid #2fd0b5;
	overflow: hidden;
	box-sizing:content-box;
}
.cases .items .slide a{
	text-decoration: none;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
}
.cases .items .slide .img{
	width: 340px;
	height: 200px;
	float: left;
}
.cases .items .slide .img img{
	width: 340px;
	height: 200px;
}
.cases .items .slide p{
	margin: 10px 20px;
	font-family:Arial,"宋体";
	font-size: 12px;
	color: #999;
	line-height: 26px;
	position: absolute;
	top: 200px;
	z-index: 2;
	transition:all .3s ease-in-out 0s;
}
.cases .items .slide p strong{
	color: #222;
	font-size: 16px;
	font-family:Arial,"微软雅黑";
	font-weight: normal;
	transition:all .3s ease-in-out 0s;
}
.cases .items .slide .bg{
	float: left;
	width: 340px;
	height: 100px;
	background:rgba(255,255,255,.5);
	position: relative;
}
.cases .items .slide .bg u{
	width: 340px;
	height: 100px;
	position: absolute;
	top: 100px;
	background: #2ed0b4;
	transition:all .3s ease-in-out 0s;
}
.cases .items .slide:hover .bg u{
	top: 0;
}
.cases .items .slide .yc_top{
	width: 340px;
	height: 200px;
	position: absolute;
	top: -200px;
	background: rgba(0,0,0,.7);
	transition:all .3s ease-in-out 0s;
}
.cases .items .slide .yc_top u{
	display: block;
	height: 44px;
	width: 44px;
	margin: 0 auto;
	background: url(../image/icons.png)no-repeat 0 -168px;
	margin-top: 78px;
}
.cases .items .slide:hover .yc_top{
	top: 0;
}
.cases .items .slide:hover p{
	color: #fff;
}
.cases .items .slide:hover p strong{
	color: #fff;
}
.cases .more{
	width:200px;
	display: block;
	padding: 5px 0 8px 0;
	font-size: 26px;
	text-align: center;
	color: #00dfb9;
	border: 1px dotted #00dfb9;
	margin: 50px auto 0;
	text-decoration: none;
	transition:all .3s ease-in-out 0s;
}
.cases .more:hover{
	background: #00dfb9;
	color: #fff;
}
.cases .mini_items{
	width: 340px;
	margin: 60px auto 0;
	overflow: hidden;
	display: none;
}
.cases .mini_items .mini_box{
	width: 1360px;
	position: relative;
}
.cases .mini_items .mini_box .slide{
	width: 340px;
	border-bottom: 2px solid #2fd0b5;
	float: left;
}
.cases .mini_items .mini_box .slide a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.cases .mini_items .mini_box .slide a .img{
	width: 340px;
	height: 200px;
}
.cases .mini_items .mini_box .slide a p{
	margin: 10px 20px;
	font-family:Arial,"宋体";
	font-size: 12px;
	color: #999;
	line-height: 26px;
	position: absolute;
	top: 200px;
	z-index: 2;
	transition:all .3s ease-in-out 0s;
}
.cases .mini_items .mini_box .slide a p strong{
	font-size: 16px;
	color: #222;
	font-weight: normal;
	font-family: "微软雅黑";
}
.cases .mini_items .mini_box .slide a .bg{
	width: 340px;
	height: 100px;
	background: rgba(255,255,255,.5);
}


@media (max-width: 1150px){
	.cases{
		top: 256px;
	}
	.cases .items{
		width: 840px;
	}
	.cases .items .slide{
		width: 260px;
	}
	.cases .items .slide .img{
		width: 260px;
		height: 153px;
	}.cases .items .slide .img img{
		width: 260px;
		height: 153px;
	}
	.cases .items .slide p{
		top: 153px;
	}
	.cases .items .slide p strong{
		font-size: 14px;
	}
	.cases .items .slide .bg{
		width: 260px;
		height: 100px;
	}
	.cases .items .slide .bg u{
		width: 260px;
		height: 100px;
	}
	.cases .items .slide .yc_top{
		width: 260px;
		height: 153px;
	}
	.cases .items .slide .yc_top u{
		margin-top: 54px;
	}
}
@media (max-width: 900px) and (orientation: portrait){
	.cases{
		top: 232px;
	}
	.cases .items{
		display: none;
	}
	.cases .mini_items{
		display: block;
		margin-top:40px;
	}
	.cases #cases_next{
		width: 16px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		right: 30px;
		top: 231px;
		background: url(../image/icons.png)no-repeat -25px -219px;
	}
	.cases #cases_prev{
		width: 16px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		left: 30px;
		top: 231px;
		background: url(../image/icons.png)no-repeat 0 -219px;
	}
}
@media (max-width: 500px){
	.cases{
		top: 266px;
	}
	.cases .items{
		width: 280px;
		margin-top: 40px;
	}
	.cases .items .swip{
		width: 840px;
		height: 255px;
		overflow: hidden;
	}
	.cases .items .slide{
		width: 260px;
	}
	.cases .items .slide .img{
		width: 260px;
		height: 153px;
	}
	.cases .items .slide .img img{
		width: 260px;
		height: 153px;
	}
	.cases .items .slide p{
		top: 153px;
	}
	.cases .items .slide .bg{
		width: 260px;
		height: 100px;
	}
	.cases .items .slide p strong{
		font-size: 14px;
	}
	.cases #cases_next{
		right: 20px;
	}
	.cases #cases_prev{
		left: 20px;
	}
}
@media (max-width: 370px){
	.cases #cases_next{
		right: 40px;
		margin-top: 175px;
	}
	.cases #cases_prev{
		left: 40px;
		margin-top: 175px;
	}
}
@media (max-height: 700px) and (min-width: 1151px){
	.cases .caption p{
		display: none;
	}
}
@media (max-height: 620px) and (min-width: 1151px){
	.cases .items .slide{
		border: none;
	}
	.cases .items .slide p{
		display: none;
	}
	.cases .items .slide .bg{
		display: none;
	}
}
@media (max-height: 700px) and (min-width: 1151px){
	.cases .items{
		margin-top: 40px;
	}
}
@media (max-height: 660px) and (max-width: 1150px){
	.cases .items{
		margin-top:40px;
	}
	.cases .caption p{
		display: none;
	}
}
@media (max-height: 310px) and (min-width: 1151px){
	.cases .caption span{
		display: none;
	}
}
@media (max-width: 900px) and (orientation: landscape){
	.cases .items{
		width:90%;
	}
	.cases .items .slide{
		width: 31.33%;
		margin: 0 1%;
		border: none;
	}
	.cases .items .slide p{
		display: none;
	}
	.cases .items .slide .bg{
		display: none;
	}
	.cases .items .slide .img{
		width: 100%;
		height: auto;
	}
	.cases .items .slide .img img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	.cases .items .slide .yc_top{
		display: none;
	}
}
@media (max-width: 500px) and (orientation: portrait){
	.cases .caption p{
		display: block;
	}
	.cases .mini_items{
		width:260px;
	}
	.cases .mini_items .mini_box{
		width:1040px;
	}
	.cases .mini_items .mini_box .slide{
		width:260px;
		height:253px;
	}
	.cases .mini_items .mini_box .slide a .img{
		width:260px;
		height:153px;
	}
	.cases .mini_items .mini_box .slide a .img img{
		width:260px;
		height:153px;
	}
	.cases .mini_items .mini_box .slide a p{
		top:153px;
	}
	.cases .mini_items .mini_box .slide a p strong{
		font-size: 14px;
	}
	.cases .mini_items .mini_box .slide a .bg{
		width:260px;
		height:100px;
	}
}

/************/
/*zhuLiping第四屏*/
.inner4_top{
    width:100%;
    height: 92px;
    position: absolute;
    /*top: 150px;*/
    margin:10% 0;
}
.in4_topPhoto{
    width: 299px;
    height: 37px;
    margin:0 auto;
    background: url("../image/words.png") no-repeat -152px -528px;
}

.in4_content{
    width: 100%;
    font-size:25px;
    text-align: center;
    margin-top: 20px;
    color: #000;
}
.in4-maskbox{
    width: 1155px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    top: 38%;
}
.inner4_bottom{
    width: 1155px;
    height: 301px;
    position: absolute;
}
.inner4_bottom li{
    list-style: none;
    float: left;
    position: relative;
    width: 231px;
    height: 150px;
    box-sizing: border-box;
    background:#ffffff;
    opacity: 0.8;
    z-index:10;
    border-right: 1px dashed #f3f3f3;
    transition: all .5s ease;
}
.in4-mask{
    width: 231px;
    height: 150px;
    position: absolute;
    background: rgba(0,0,0,0.1);
    display: none;
    transition: all .5s ease;
}
.inner4_bottom li:nth-child(1){
    background: url("../image/clients.png") no-repeat 0 0;
}
.inner4_bottom li:nth-child(1):hover{
    background: url("../image/clients.png") no-repeat 0 -150px;
}
.inner4_bottom li:nth-child(2){
    background: url("../image/clients.png") no-repeat -460px 0;
}
.inner4_bottom li:nth-child(2):hover{
    background: url("../image/clients.png") no-repeat -460px -150px;
}
.inner4_bottom li:nth-child(3){
    background: url("../image/clients.png") no-repeat -2530px 0;
}
.inner4_bottom li:nth-child(3):hover{
    background: url("../image/clients.png") no-repeat -2530px -150px;
}
.inner4_bottom li:nth-child(4){
    background: url("../image/clients.png") no-repeat -690px 0;
}
.inner4_bottom li:nth-child(4):hover{
    background: url("../image/clients.png") no-repeat -690px -150px;
}
.inner4_bottom li:nth-child(5){
    border:none;
    background: url("../image/clients.png") no-repeat -230px 0;
}
.inner4_bottom li:nth-child(5):hover{
    border:none;
    background: url("../image/clients.png") no-repeat -230px -150px;
}
.inner4_bottom li:nth-child(6){
    background: url("../image/clients.png") no-repeat -1380px 0;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(6):hover{
    background: url("../image/clients.png") no-repeat -1380px -150px;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(7){
    background: url("../image/clients.png") no-repeat -1150px 0;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(7):hover{
    background: url("../image/clients.png") no-repeat -1150px -150px;
}
.inner4_bottom li:nth-child(8){
    background: url("../image/clients.png") no-repeat -920px 0;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(8):hover{
    background: url("../image/clients.png") no-repeat -920px -150px;
}
.inner4_bottom li:nth-child(9){
    background: url("../image/clients.png") no-repeat -2772px 0;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(9):hover{
    background: url("../image/clients.png") no-repeat -2772px -150px;
}
.inner4_bottom li:nth-child(10){
    border:none;
    border-top: 1px dashed #f3f3f3;
    background: url("../image/clients.png") no-repeat -1610px 0;
}
.inner4_bottom li:nth-child(10):hover{
    background: url("../image/clients.png") no-repeat -1610px -150px;
}

@media screen and (max-height:580px) {
    .inner4_bottom{
        position: absolute;
        height: 150px;
        overflow: hidden;
    }
}
@media screen and (max-width:1130px) {
    .in4-maskbox{
        position: relative;
        margin-left: 100px;
    }
    .inner4_bottom{
        position: absolute;
        width:924px;
        overflow: hidden;
        margin:0 auto;
    }
}
/*田杨阳第五屏*/
.five{
    width: 100%;
    position: absolute;
    top: 150px;
}
.five .caption{
    width: 100%;
    text-align: center;
}
.five .caption p{
    width: 240px;
    height: 37px;
    margin: 0 auto;
    background: url(../image/words.png)no-repeat 0 -576px;
    margin-bottom: 20px;
}
.five .caption span{
    padding-left: 5px;
    font-size: 24px;
    color: #fff;
    line-height: 30px;
}
.five .items{
    width: 960px;
    margin: 120px auto 0;
    overflow: hidden;
}
.five .items .slide{
    width: 240px;
    margin: 0 40px;
    float: left;
}
.five .items .slide .title{
    width: 168px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items .slide .title .phone{
    width: 14px;
    height: 27px;
    background: url(../image/icons.png)no-repeat 0 -264px;
    margin: 0 15px;
    float: left;
}
.five .items .slide .title .pad{
    width: 29px;
    height: 23px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -264px;
}
.five .items .slide .title .pc{
    margin: 0 15px;
    float: left;
    width: 35px;
    height: 27px;
    background: url(../image/icons.png)no-repeat 0 -303px;
}
.five .items .slide p{
    color: #e1e1e1;
    text-align: center;
    line-height: 36px;
    font-size: 15px;
}

.five .items .slide:nth-of-type(2) .title{
    width: 240px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items .slide:nth-of-type(2) .title .ie{
    width: 28px;
    height: 28px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat 0 -392px;
}
.five .items .slide:nth-of-type(2) .title .chrome{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -392px;
}
.five .items .slide:nth-of-type(2) .title .firefox{
    width: 32px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -0 -432px;
}
.five .items .slide:nth-of-type(2) .title .safari{
    width: 30px;
    height: 32px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -432px;
}
.five .items .slide:nth-of-type(3) .title {
    width: 169px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items .slide:nth-of-type(3) .title .windows{
    width: 27px;
    height: 27px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -73px -304px;
}
.five .items .slide:nth-of-type(3) .title .ios{
    width: 24px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -0 -344px;
}
.five .items .slide:nth-of-type(3) .title .andriod{
    width: 28px;
    height: 29px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -72px -345px;
}
.five .lookall{
    display: block;
    width: 240px;
    padding: 12px 0;
    margin: 90px auto 0;
    text-align: center;
    color: #00aa88;
    font-size: 18px;
    letter-spacing: 3px;
    border: 1px solid #00aa88;
    border-radius: 5px;
    text-decoration: none;
    transition:all .3s ease-in-out 0s;
}
.five .lookall:hover{
    background:#00aa88;
    color: #fff;
}
.five .items_mini{
    width: 240px;
    height: 200px;
    margin:120px auto 0;
    position: relative;
    overflow: hidden;
    display: none;
}
.five .items_mini .items_mini_box{
    width: 720px;
    height: 200px;
    position: absolute;
}
.five .items_mini .items_mini_box .slide{
    width: 240px;
    float: left;
}
.five .items_mini .items_mini_box .slide .title{
    width: 168px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title .phone{
    width: 14px;
    height: 27px;
    background: url(../image/icons.png)no-repeat 0 -264px;
    margin: 0 15px;
    float: left;
}
.five .items_mini .items_mini_box .slide .title .pad{
    width: 29px;
    height: 23px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -264px;
}
.five .items_mini .items_mini_box .slide .title .pc{
    margin: 0 15px;
    float: left;
    width: 35px;
    height: 27px;
    background: url(../image/icons.png)no-repeat 0 -303px;
}
.five .items_mini .items_mini_box .slide p{
    color: #e1e1e1;
    text-align: center;
    line-height: 36px;
    font-size: 15px;
}

.five .items_mini .items_mini_box .slide .title2{
    width: 240px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title2 .ie{
    width: 28px;
    height: 28px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat 0 -392px;
}
.five .items_mini .items_mini_box .slide .title2 .chrome{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -392px;
}
.five .items_mini .items_mini_box .slide .title2 .firefox{
    width: 32px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -0 -432px;
}
.five .items_mini .items_mini_box .slide .title2 .safari{
    width: 30px;
    height: 32px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -432px;
}
.five .items_mini .items_mini_box .slide .title3{
    width: 169px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title3 .windows{
    width: 27px;
    height: 27px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -73px -304px;
}
.five .items_mini .items_mini_box .slide .title3 .ios{
    width: 24px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -0 -344px;
}
.five .items_mini .items_mini_box .slide .title3 .andriod{
    width: 28px;
    height: 29px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -72px -345px;
}

@media (max-width: 960px){
    .five{
        top: 150px;
    }
    .five .items{
        display: none;
    }
    .five .items_mini{
        display: block;
    }

}

/*魏福佳页面第一屏*/

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

img {
    width: 100%;
    height: 100%;
}

.carousel {
    width: 500%;
    height: 100%;
}

.carousel > li {
    width: 20%;
    float: left;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.mask {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #000;
    background: rgba(0, 0, 0, 0.01);
}

.lb_1_box {
    width: 100%;
    height: 231px;
    position: absolute;
    top: 165px;
    left: 0px;
}

.lb_1 {
    width: 465px;
    height: 231px;
    position: relative;
    margin: 0 auto;
}

.lb_1_font1 {
    width: 123px;
    height: 231px;
    position: absolute;
    left: -123px;
    top: -20px;
    background: url(../image/words.png) no-repeat top right;

}
.lb_1_font2 {
    height: 162px;
    position: absolute;
    right: -539px;
    top: 10px;
    font-family: "微软雅黑", Arial;
    text-align: left;
}

.carousel > li span {
    font-size: 36px;
    color: White;
    font-family: "微软雅黑", Aria;
}

.lb_1_font2 > i {
    display: block;
    width: 339px;
    height: 66px;
    margin-bottom: 3px;
    background: url(../image/words.png) no-repeat;
}

.carousel > li p {
    font-size: 16px;
    line-height: 25px;
    color: #ccc;
    display: block;
    margin: 0px;
    font-family: "微软雅黑", Arial;
}

.lb_2_font1 {
    width: 320px;
    height: 184px;
    position: absolute;
    left: -520px;
    top: 175px;
    font-family: "微软雅黑", Arial;
    text-align: right;
    display: none;
}

.lb_2_font1 > i {
    display: block;
    width: 320px;
    height: 65px;
    margin: 10px 0px 8px 0px;
    background: url(../image/words.png) no-repeat 0px -72px;
}

.lb_2_font2 {
    width: 50%;
    background: #000;
    position: absolute;
    left: 1800px;
    top: 0px;
    opacity: 0.4;
    display: none;
}

.lb_3_box {
    width: 100%;
    height: 207px;
    top: 309px;
    position: absolute;
    text-align: center;
    display: none;
}

.lb_3_box > i {
    width: 358px;
    height: 66px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    background: url(../image/words.png) no-repeat 0px -219px;
}

.lb_4_font1 {
    width: 100%;
    height: 130px;
    top: -130px;
    position: absolute;
    text-align: center;
}

.lb_4_font1 > i {
    display: block;
    width: 242px;
    height: 64px;
    margin: 0 auto;
    margin-top: 15px;
    background: url(../image/words.png) no-repeat 0px -147px;
}

.lb_4_font2 {
    width: 100%;
    height: 75px;
    top: 600px;
    position: absolute;
    text-align: center;
    display: none;
}

.lb_4_font2 > p > u {
    margin: 0 5px;
    color: #00dfb9;
    text-decoration: none;
}

.innerboxs {
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 10;
}

.newsbox {
    width: 100%;
    padding-top: 30px;
    height: 40px;
    font-size: 14px;
    font-family: "微软雅黑", Arial;
}

.news {
    height: 20px;
    width: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.news > span {
    display: inline-block;
    font-weight: 600;
    color: #00dfb9;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ul_move {
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 0px;
    width: 300px;
}

.ul_move > li {
    height: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

.ul_move > li > a {
    color: #ddd;
}

.ul_move:hover li > a {
    text-decoration: underline;
}

.news > a {
    position: absolute;
    right: 4px;
    top: -1px;
    border-bottom: 1px dotted #00dfb9;
    box-sizing: border-box;
    color: #00dfb9;
}

.circlebox {
    width: 100%;
    text-align: center;
}

.circle {
    display: inline-block;
    width: 40px;
    height: 3px;
    background: #fff;
    margin: 0 2px;
}

.movedown {
    margin-top: 45px;
    display: inline-block;
    width: 47px;
    height: 47px;
    background: url(../image/icons.png);
    background-position: 0px -60px;
}

.movedown:hover {
    background-position: 0px -112px;
}
/*魏福佳页面第一屏兼容*/

@media (max-height: 650px) and (orientation: landscape) {
    .box .innerboxs {
        bottom: 15px;
        height: 30px;
    }

    .box .innerboxs .newsbox {
        padding-top: 0;
    }

    .box .innerboxs .news {
        margin-left: 100px;
        margin-bottom: 10px;
    }

    .box .innerboxs .circleboxs {
        position: absolute;
        margin: 0px;
        right: 15px;
        bottom: 18px;
        width: 150px;
    }

    .box .innerboxs .circlebox a {
        margin: 0px 3px;
        width: 20px;
    }

    .box .innerboxs a.movedown {
        width: 50px;
        position: absolute;
        margin: 0px;
        left: 15px;
        bottom: 0px;
    }
}

@media (max-height: 480px) and (orientation: landscape), (max-width: 699px) and (orientation: portrait) {
    .box .carousel li .lb_1_box .lb_1 .lb_1_font1 {
        width: 74px;
        height: 139px;
        top: 0;
        background: url(../image/words_mini.png) no-repeat top right;
    }

    .box .carousel li .lb_1_box .lb_1 .lb_1_font2 span {
        font-size: 24px;
    }

    .box .carousel li .lb_1_box .lb_1 .lb_1_font2 i {
        width: 203px;
        height: 40px;
        margin: 3px 0px 5px 0px;
        background: url(../image/words_mini.png) no-repeat;
    }

    .box .carousel li .lb_1_box .lb_1 .lb_1_font2 p {
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }

    .box .carousel li .lb_2_font1 span {
        font-size: 24px;
    }

    .box .carousel li .lb_2_font1 i {
        width: 191px;
        height: 40px;
        margin-top: 8px;
        margin-bottom: 5px;
        background: url(../image/words_mini.png) no-repeat 0px -45px;
        margin-left: 130px;
    }

    .box .carousel li .lb_2_font1 p {
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }

    .box .carousel li .lb_3_box span {
        font-size: 24px;
    }

    .box .carousel li .lb_3_box i {
        width: 216px;
        height: 40px;
        margin-top: 10px;
        background: url(../image/words_mini.png) no-repeat 0px -131px;
    }

    .box .carousel li .lb_3_box p {
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }

    .box .carousel li .lb_4_font1 span {
        font-size: 24px;
    }

    .box .carousel li .lb_4_font1 i {
        width: 143px;
        height: 38px;
        background: url(../image/words_mini.png) no-repeat 0px -88px;
    }

    .box .carousel li .lb_4_font2 p {
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }
}