html,body,ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#box{
	width:100%;
	  height: 100%;
	  position: absolute;
	  left:0;
	  top: 0;
	  transition: all .4s;
}
.page{
	width: 100%;
	  height: 100%;
	  background: red;
	  color: #fff;
	  transition: ease .6s;
	  position: relative;
    overflow: hidden;
}
#openBox{
	position: fixed;
	  right: 25px;
	  top: 50%;
	  z-index: 99;
	  margin-top: -91px;
}
#openBox .active{
	width: 10px;
	  height: 10px;
	padding: 8px;
	margin: 8px;
	  display: block;
	  cursor: pointer;
	  border: 1px solid #cccccc;
	  border-radius: 50%;
	  background: #000;
	  transition: all .5s ease;
}


/*王洋洋 css样式*/
#page2{
	overflow: hidden;
}
/*盒子*/
.page2-box{
	position: relative;
	top: 24.5%;
	margin-top: -55px;
	transition: all .3s;
}
/*头部*/
.page2-box-top{
	width: 100%;
	text-align: center;
}
.page2-box-top>i{
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 320px;
	height: 31px;
	background: url(../image/words.png) no-repeat 0 -294px;
}
.page2-box-top>span{
	display: inline-block;
	font-size: 24px;
	font-family: '微软雅黑';
	margin: 0;
	color: #333333;
	line-height: normal!important;
}
/*内容*/
.page2-box-middle{
	width: 1148px;
	margin: 60px auto 0;
	overflow: hidden;
	padding: 0;
}
.page2-box-middle>li{
	width: 200px;
	height: 300px;
	margin: 0 9px;
	background: url(../image/bg_green.png) no-repeat 0 400px;
	overflow: hidden;
	float: left;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	transition: all .5s;
}
.page2-box-middle>li>u{
	display: block;
	position: absolute;
	width: 156px;
	height: 156px;
	margin-left: 22px;
	background: url(../image/words.png) no-repeat 0 -363px;
	transition: all .5s;
}
.cll{
	clip: rect(0px,156px,156px,78px);
}
.cr{
	clip: rect(0px,78px,156px,0px);
}
.page2-box-middle>li>i{
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 43px;
	height: 69px;
	transition: all .4s;
	cursor: pointer;
}
.page2-box-middle>li:nth-of-type(1)>i{
	width: 69px;
	background: url(../image/words.png) no-repeat -245px -357px;
}
.page2-box-middle>li:nth-of-type(2)>i{
	width: 64px;
	background: url(../image/words.png) no-repeat -416px -291px;
}
.page2-box-middle>li:nth-of-type(3)>i{
	width: 76px;
	background: url(../image/words.png) no-repeat -415px -362px;
}
.page2-box-middle>li:nth-of-type(4)>i{
	width: 74px;
	background: url(../image/words.png) no-repeat -244px -439px;
}
.page2-box-middle>li:nth-of-type(5)>i{
	width: 79px;
	background: url(../image/words.png) no-repeat -420px -439px;
}
.page2-box-middle>li>strong{
	display: block;
	margin-top: 70px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	color:#333;
	font-family: '微软雅黑';
}
.page2-box-middle>li>p{
	position: relative;
	top: 200px;
	color: White;
	font-family: '微软雅黑';
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	margin: 0;
	transition: top .5s;
}
.page2-box-middle>li:hover .cll{
	clip: rect(0px,156px,0,78px);
}
.page2-box-middle>li:hover .cr{
	clip: rect(156px,78px,156px,0px);
}
.page2-box-middle>li:hover{
	animation: animation0 .8s ease .5s forwards;
}
.page2-box-middle>li:hover strong{
	animation: animation1 .8s ease .5s forwards;
}
.page2-box-middle>li:nth-of-type(1):hover i{
	animation: animation2 .8s ease .5s forwards;
}
.page2-box-middle>li:nth-of-type(2):hover i{
	animation: animation3 .8s ease .5s forwards;
}
.page2-box-middle>li:nth-of-type(3):hover i{
	animation: animation4 .8s ease .5s forwards;
}
.page2-box-middle>li:nth-of-type(4):hover i{
	animation: animation5 .8s ease .5s forwards;
}
.page2-box-middle>li:nth-of-type(5):hover i{
	animation: animation6 .8s ease .5s forwards;
}
.page2-box-middle>li:hover p{
	animation: animation7 .8s ease .5s forwards;
}
@-webkit-keyframes animation0{
	0%{background: url(../image/bg_green.png) no-repeat 0 400px;}
	100%{background: url(../image/bg_green.png) no-repeat 0 0;}
}
@-webkit-keyframes animation1{
	0%{color:#333;}
	100%{color:#fff;}
}
@-webkit-keyframes animation2{
	0%{background-position: -245px -357px}
	100%{background-position: -168px -357px}
}
@-webkit-keyframes animation3{
	0%{background-position: -416px -291px}
	100%{background-position: -337px -291px}
}
@-webkit-keyframes animation4{
	0%{background-position: -415px -362px}
	100%{background-position: -327px -362px}
}
@-webkit-keyframes animation5{
	0%{background-position: -244px -439px}
	100%{background-position: -164px -439px}
}
@-webkit-keyframes animation6{
	0%{background-position: -420px -439px}
	100%{background-position: -335px -439px}
}
@-webkit-keyframes animation7{
	0%{-webkit-transform:translateY(0)}
	100%{-webkit-transform:translateY(-180px)}
}
/*底部*/
.page2-box-bottom{
	display: block;
	margin: 0 auto;
	margin-top: -40px;
	width: 297px;
	height: 21px;
	background: url(../image/words.png) no-repeat 0 -333px;
}
/*王洋洋 响应式*/
/*高度*/
@media (min-height: 320px) and (max-height: 704px) {
	.page2-box-top>i{
		display: none!important;
	}
}
/*宽度*/
@media (min-width: 1151px) and (max-width: 1366px) {

}
@media (min-width: 1001px) and (max-width: 1150px) {
	.page2-box-middle{
		width: 918px;
		margin-top: 10px;
	}
	.page2-box-middle>li{
		width: 170px;
		height: 270px;
		margin: 0;
	}
	.page2-box-middle>li>u{
		display: none;
	}
	.page2-box-middle>li>strong{
		margin-top: 40px;
	}
	.page2-box-middle>li:hover{
		animation: animation0 .5s ease 0s forwards;
	}
	.page2-box-middle>li:hover strong{
		animation: animation1 .5s ease 0s forwards;
	}
	.page2-box-middle>li:nth-of-type(1):hover i{
		animation: animation2 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(2):hover i{
		animation: animation3 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(3):hover i{
		animation: animation4 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(4):hover i{
		animation: animation5 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(5):hover i{
		animation: animation6 .5s ease .3s forwards;
	}
	.page2-box-middle>li:hover p{
		animation: animation7 .5s ease .3s forwards;
	}
}
@media (min-width: 930px) and (max-width: 1000px){
	.page2-box-middle{
		width: 918px;
		margin-top: 10px;
	}
	.page2-box-middle>li{
		width: 270px;
		height: 80px;
		margin: 30px 0 0 21px;
		padding: 10px 0 5px 15px;
	}
	.page2-box-middle>li>u{
		display: none;
	}
	.page2-box-middle>li>strong{
		float: left;
		margin: 5px 0 0 20px;
	}
	.page2-box-middle>li>i{
		margin-top: 0;
		float: left;
	}
	.page2-box-middle>li>p{
		float: left;
		margin: 0 0 0 20px;
		text-align: inherit;
	}
	.page2-box-bottom{
		display: none;
	}
	.page2-box-middle>li:hover{
		animation: animation0 .5s ease 0s forwards;
	}
	.page2-box-middle>li:hover strong{
		animation: animation1 .5s ease 0s forwards;
	}
	.page2-box-middle>li:nth-of-type(1):hover i{
		animation: animation2 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(2):hover i{
		animation: animation3 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(3):hover i{
		animation: animation4 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(4):hover i{
		animation: animation5 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(5):hover i{
		animation: animation6 .5s ease .3s forwards;
	}
	.page2-box-middle>li:hover p{
		animation: animation7 .5s ease .3s forwards;
	}
	@-webkit-keyframes animation7{
		0%{-webkit-transform:translateY(0)}
		100%{-webkit-transform:translateY(-190px)}
	}
	.page2-box-middle>li{
		text-align: left;
	}
	.page2-box-middle>li:nth-of-type(4) p{
		width: 138px;
	}
}
@media (min-width: 621px) and (max-width: 929px){
	.page2-box-middle{
		width: 662px;
		margin: 30px auto 0;
		padding-left: 0;
		list-style: none;
	}
	.page2-box-middle>li{
		width: 270px;
		height: 80px;
		margin: 30px 0 0 21px;
		padding: 10px 0 5px 15px;
		cursor: pointer;
	}
	.page2-box-middle>li:hover strong{
		color: #fff;
	}
	.page2-box-middle>li>u{
		display: none;
		transition: all 0s;
	}
	.page2-box-middle>li>p{
		width: 270px;
		height: 400px;
		text-align: left;
		padding: 230px 0 0 100px;
	}
	.page2-box-middle>li>i{
		margin-top: 0;
		float: left
	}
	.page2-box-middle>li>strong{
		float: left;
		margin: 5px 0 0 20px;
	}
	.page2-box-bottom{
		display: none;
	}
	.page2-box-middle>li:hover{
		animation: animation0 .5s ease 0s forwards;
	}
	.page2-box-middle>li:hover strong{
		animation: animation1 .5s ease 0s forwards;
	}
	.page2-box-middle>li:nth-of-type(1):hover i{
		animation: animation2 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(2):hover i{
		animation: animation3 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(3):hover i{
		animation: animation4 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(4):hover i{
		animation: animation5 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(5):hover i{
		animation: animation6 .5s ease .3s forwards;
	}
	.page2-box-middle>li:hover p{
		animation: animation7 .5s ease .3s forwards;
	}
	@-webkit-keyframes animation7{
		0%{-webkit-transform:translateY(0)}
		100%{-webkit-transform:translateY(-400px)}
	}
	.page2-box-middle>li{
		text-align: left;
	}
	.page2-box-middle>li:nth-of-type(1) p{
		margin-left: -10px;
	}
	.page2-box-middle>li:nth-of-type(2) p{
		margin-left: -16px;
	}
	.page2-box-middle>li:nth-of-type(3) p{
		margin-left: -5px;
	}
	.page2-box-middle>li:nth-of-type(4) p{
		margin-left: -5px;
	}
	.page2-box-middle>li:nth-of-type(5) p{
		margin-left: -2px;
	}
}
@media (min-width: 426px) and (max-width: 620px) {
	.page2-box-middle{
		width: 428px;
		margin: 30px auto 0;
		padding-left: 0;
		list-style: none;
	}
	.page2-box-middle>li{
		width: 188px;
		height: 58px;
		margin: 15px 10px 0 10px;
		padding: 10px 0 5px 15px;
		cursor: pointer;
	}
	.page2-box-middle>li:hover strong{
		color: #fff;
	}
	.page2-box-middle>li>u{
		display: none;
		transition: all 0s;
	}
	.page2-box-middle>li>p{
		width: 270px;
		height: 400px;
		text-align: right;
		padding: 0;
	}
	.page2-box-middle>li>i{
		display: block;
		position: relative;
		margin: 0 auto;
		float: left
	}
	.page2-box-middle>li:nth-of-type(1)>i{
		width: 46px;
		height: 35px!important;
		background: url(../image/words_mini.png) no-repeat -145px -217px;
	}
	.page2-box-middle>li:nth-of-type(2)>i{
		width: 46px;
		height: 39px!important;
		background: url(../image/words_mini.png) no-repeat -245px -176px;
	}
	.page2-box-middle>li:nth-of-type(3)>i{
		width: 46px;
		height: 35px!important;
		background: url(../image/words_mini.png) no-repeat -249px -220px;
	}
	.page2-box-middle>li:nth-of-type(4)>i{
		width: 46px;
		height: 41px!important;
		background: url(../image/words_mini.png) no-repeat -146px -264px;
	}
	.page2-box-middle>li:nth-of-type(5)>i{
		width: 47px;
		height: 38px!important;
		background: url(../image/words_mini.png) no-repeat -253px -266px;
	}
	.page2-box-middle>li>strong{
		float: left;
		margin: 5px 0 0 20px;
	}
	.page2-box-bottom{
		display: none;
	}
	.page2-box-middle>li:hover{
		animation: animation0 .5s ease 0s forwards;
	}
	.page2-box-middle>li:hover strong{
		animation: animation1 .5s ease 0s forwards;
	}
	.page2-box-middle>li:nth-of-type(1):hover i{
		animation: animation2 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(2):hover i{
		animation: animation3 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(3):hover i{
		animation: animation4 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(4):hover i{
		animation: animation5 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(5):hover i{
		animation: animation6 .5s ease .3s forwards;
	}
	.page2-box-middle>li:hover p{
		animation: animation7 0s ease 0s forwards;
	}
	@-webkit-keyframes animation7{
		0%{-webkit-transform:translateY(0)}
		100%{-webkit-transform:translateY(-400px)}
	}
	@-webkit-keyframes animation2{
		0%{background-position: -145px -217px}
		100%{background-position: -100px -217px}
	}
	@-webkit-keyframes animation3{
		0%{background-position: -245px -176px}
		100%{background-position: -201px -176px}
	}
	@-webkit-keyframes animation4{
		0%{background-position: -249px -220px}
		100%{background-position: -196px -220px}
	}
	@-webkit-keyframes animation5{
		0%{background-position: -146px -264px}
		100%{background-position: -100px -264px}
	}
	@-webkit-keyframes animation6{
		0%{background-position: -253px -266px}
		100%{background-position: -201px -266px}
	}
}
@media (min-width: 321px) and (max-width: 425px) {
	.page2-box-middle{
		width: 215px;
		margin: 20px auto 0;
		padding-left: 0;
		list-style: none;
	}
	.page2-box-middle>li{
		width: 188px;
		height: 58px;
		margin: 15px 10px 0 10px;
		padding: 10px 0 5px 15px;
		cursor: pointer;
	}
	.page2-box-middle>li:hover strong{
		color: #fff;
	}
	.page2-box-middle>li>u{
		display: none;
		transition: all 0s;
	}
	.page2-box-middle>li>p{
		width: 270px;
		height: 400px;
		text-align: right;
		padding: 0;
	}
	.page2-box-middle>li>i{
		display: block;
		position: relative;
		margin: 0 auto;
		float: left
	}
	.page2-box-middle>li:nth-of-type(1)>i{
		width: 46px;
		height: 35px!important;
		background: url(../image/words_mini.png) no-repeat -145px -217px;
	}
	.page2-box-middle>li:nth-of-type(2)>i{
		width: 46px;
		height: 39px!important;
		background: url(../image/words_mini.png) no-repeat -245px -176px;
	}
	.page2-box-middle>li:nth-of-type(3)>i{
		width: 46px;
		height: 35px!important;
		background: url(../image/words_mini.png) no-repeat -249px -220px;
	}
	.page2-box-middle>li:nth-of-type(4)>i{
		width: 46px;
		height: 41px!important;
		background: url(../image/words_mini.png) no-repeat -146px -264px;
	}
	.page2-box-middle>li:nth-of-type(5)>i{
		width: 47px;
		height: 38px!important;
		background: url(../image/words_mini.png) no-repeat -253px -266px;
	}
	.page2-box-middle>li>strong{
		float: left;
		margin: 5px 0 0 20px;
	}
	.page2-box-bottom{
		display: none;
	}
	.page2-box-middle>li:hover{
		animation: animation0 .5s ease 0s forwards;
	}
	.page2-box-middle>li:hover strong{
		animation: animation1 .5s ease 0s forwards;
	}
	.page2-box-middle>li:nth-of-type(1):hover i{
		animation: animation2 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(2):hover i{
		animation: animation3 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(3):hover i{
		animation: animation4 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(4):hover i{
		animation: animation5 .5s ease .3s forwards;
	}
	.page2-box-middle>li:nth-of-type(5):hover i{
		animation: animation6 .5s ease .3s forwards;
	}
	.page2-box-middle>li:hover p{
		animation: animation7 0s ease 0s forwards;
	}
	@-webkit-keyframes animation7{
		0%{-webkit-transform:translateY(0)}
		100%{-webkit-transform:translateY(-400px)}
	}
	@-webkit-keyframes animation2{
		0%{background-position: -145px -217px}
		100%{background-position: -100px -217px}
	}
	@-webkit-keyframes animation3{
		0%{background-position: -245px -176px}
		100%{background-position: -201px -176px}
	}
	@-webkit-keyframes animation4{
		0%{background-position: -249px -220px}
		100%{background-position: -196px -220px}
	}
	@-webkit-keyframes animation5{
		0%{background-position: -146px -264px}
		100%{background-position: -100px -264px}
	}
	@-webkit-keyframes animation6{
		0%{background-position: -253px -266px}
		100%{background-position: -201px -266px}
	}
}
@media (min-width: 0) and (max-width: 320px) {
	body{
		display: none;
	}
	html{
		background: url(../image/displayNone.png) no-repeat 50% top;
		background-color: #333a32;
	}
}



/*于爱民第三屏*/
.cases{
	line-height: normal;
	width: 100%;
	position: relative;
	top: 232px;
	transition:all .3s ease-in-out 0s;
}
.cases .caption{
	width: 100%;
	text-align: center;
}
.cases .caption p{
	margin: 0 auto 20px;
	width: 129px;
	height: 37px;
	background: url(../image/words.png)no-repeat 0 -528px;
}
.cases .caption span{
	font-size: 24px;
	padding-left: 10px;
	letter-spacing: 3px;
	color: #333;
	display: block;
}
.cases .items{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	margin-top: 60px;
	overflow: hidden;
}
.cases .items .swip{
	position: relative;
}
.cases .items .slide{
	width: 340px;
	float: left;
	margin: 0 10px;
	border-bottom: 2px solid #2fd0b5;
	overflow: hidden;
	box-sizing:content-box;
}
.cases .items .slide a{
	text-decoration: none;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
}
.cases .items .slide .img{
	width: 340px;
	height: 200px;
	float: left;
}
.cases .items .slide .img img{
	width: 340px;
	height: 200px;
}
.cases .items .slide p{
	margin: 10px 20px;
	font-family:Arial,"宋体";
	font-size: 12px;
	color: #999;
	line-height: 26px;
	position: absolute;
	top: 200px;
	z-index: 2;
	transition:all .3s ease-in-out 0s;
}
.cases .items .slide p strong{
	color: #222;
	font-size: 16px;
	font-family:Arial,"微软雅黑";
	font-weight: normal;
	transition:all .3s ease-in-out 0s;
}
.cases .items .slide .bg{
	float: left;
	width: 340px;
	height: 100px;
	background:rgba(255,255,255,.5);
	position: relative;
}
.cases .items .slide .bg u{
	width: 340px;
	height: 100px;
	position: absolute;
	top: 100px;
	background: #2ed0b4;
	transition:all .3s ease-in-out 0s;
}
.cases .items .slide:hover .bg u{
	top: 0;
}
.cases .items .slide .yc_top{
	width: 340px;
	height: 200px;
	position: absolute;
	top: -200px;
	background: rgba(0,0,0,.7);
	transition:all .3s ease-in-out 0s;
}
.cases .items .slide .yc_top u{
	display: block;
	height: 44px;
	width: 44px;
	margin: 0 auto;
	background: url(../image/icons.png)no-repeat 0 -168px;
	margin-top: 78px;
}
.cases .items .slide:hover .yc_top{
	top: 0;
}
.cases .items .slide:hover p{
	color: #fff;
}
.cases .items .slide:hover p strong{
	color: #fff;
}
.cases .more{
	width:200px;
	display: block;
	padding: 5px 0 8px 0;
	font-size: 26px;
	text-align: center;
	color: #00dfb9;
	border: 1px dotted #00dfb9;
	margin: 50px auto 0;
	text-decoration: none;
	transition:all .3s ease-in-out 0s;
}
.cases .more:hover{
	background: #00dfb9;
	color: #fff;
}
.cases .mini_items{
	width: 340px;
	margin: 60px auto 0;
	overflow: hidden;
	display: none;
}
.cases .mini_items .mini_box{
	width: 1360px;
	position: relative;
}
.cases .mini_items .mini_box .slide{
	width: 340px;
	border-bottom: 2px solid #2fd0b5;
	float: left;
}
.cases .mini_items .mini_box .slide a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.cases .mini_items .mini_box .slide a .img{
	width: 340px;
	height: 200px;
}
.cases .mini_items .mini_box .slide a p{
	margin: 10px 20px;
	font-family:Arial,"宋体";
	font-size: 12px;
	color: #999;
	line-height: 26px;
	position: absolute;
	top: 200px;
	z-index: 2;
	transition:all .3s ease-in-out 0s;
}
.cases .mini_items .mini_box .slide a p strong{
	font-size: 16px;
	color: #222;
	font-weight: normal;
	font-family: "微软雅黑";
}
.cases .mini_items .mini_box .slide a .bg{
	width: 340px;
	height: 100px;
	background: rgba(255,255,255,.5);
}


@media (max-width: 1150px){
	.cases{
		top: 256px;
	}
	.cases .items{
		width: 840px;
	}
	.cases .items .slide{
		width: 260px;
	}
	.cases .items .slide .img{
		width: 260px;
		height: 153px;
	}.cases .items .slide .img img{
		width: 260px;
		height: 153px;
	}
	.cases .items .slide p{
		top: 153px;
	}
	.cases .items .slide p strong{
		font-size: 14px;
	}
	.cases .items .slide .bg{
		width: 260px;
		height: 100px;
	}
	.cases .items .slide .bg u{
		width: 260px;
		height: 100px;
	}
	.cases .items .slide .yc_top{
		width: 260px;
		height: 153px;
	}
	.cases .items .slide .yc_top u{
		margin-top: 54px;
	}
}
@media (max-width: 900px) and (orientation: portrait){
	.cases{
		top: 232px;
	}
	.cases .items{
		display: none;
	}
	.cases .mini_items{
		display: block;
		margin-top:40px;
	}
	.cases #cases_next{
		width: 16px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		right: 30px;
		top: 231px;
		background: url(../image/icons.png)no-repeat -25px -219px;
	}
	.cases #cases_prev{
		width: 16px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		left: 30px;
		top: 231px;
		background: url(../image/icons.png)no-repeat 0 -219px;
	}
}
@media (max-width: 500px){
	.cases{
		top: 266px;
	}
	.cases .items{
		width: 280px;
		margin-top: 40px;
	}
	.cases .items .swip{
		width: 840px;
		height: 255px;
		overflow: hidden;
	}
	.cases .items .slide{
		width: 260px;
	}
	.cases .items .slide .img{
		width: 260px;
		height: 153px;
	}
	.cases .items .slide .img img{
		width: 260px;
		height: 153px;
	}
	.cases .items .slide p{
		top: 153px;
	}
	.cases .items .slide .bg{
		width: 260px;
		height: 100px;
	}
	.cases .items .slide p strong{
		font-size: 14px;
	}
	.cases #cases_next{
		right: 20px;
	}
	.cases #cases_prev{
		left: 20px;
	}
}
@media (max-width: 370px){
	.cases #cases_next{
		right: 40px;
		margin-top: 175px;
	}
	.cases #cases_prev{
		left: 40px;
		margin-top: 175px;
	}
}
@media (max-height: 700px) and (min-width: 1151px){
	.cases .caption p{
		display: none;
	}
}
@media (max-height: 620px) and (min-width: 1151px){
	.cases .items .slide{
		border: none;
	}
	.cases .items .slide p{
		display: none;
	}
	.cases .items .slide .bg{
		display: none;
	}
}
@media (max-height: 700px) and (min-width: 1151px){
	.cases .items{
		margin-top: 40px;
	}
}
@media (max-height: 660px) and (max-width: 1150px){
	.cases .items{
		margin-top:40px;
	}
	.cases .caption p{
		display: none;
	}
}
@media (max-height: 310px) and (min-width: 1151px){
	.cases .caption span{
		display: none;
	}
}
@media (max-width: 900px) and (orientation: landscape){
	.cases .items{
		width:90%;
	}
	.cases .items .slide{
		width: 31.33%;
		margin: 0 1%;
		border: none;
	}
	.cases .items .slide p{
		display: none;
	}
	.cases .items .slide .bg{
		display: none;
	}
	.cases .items .slide .img{
		width: 100%;
		height: auto;
	}
	.cases .items .slide .img img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	.cases .items .slide .yc_top{
		display: none;
	}
}
@media (max-width: 500px) and (orientation: portrait){
	.cases .caption p{
		display: block;
	}
	.cases .mini_items{
		width:260px;
	}
	.cases .mini_items .mini_box{
		width:1040px;
	}
	.cases .mini_items .mini_box .slide{
		width:260px;
		height:253px;
	}
	.cases .mini_items .mini_box .slide a .img{
		width:260px;
		height:153px;
	}
	.cases .mini_items .mini_box .slide a .img img{
		width:260px;
		height:153px;
	}
	.cases .mini_items .mini_box .slide a p{
		top:153px;
	}
	.cases .mini_items .mini_box .slide a p strong{
		font-size: 14px;
	}
	.cases .mini_items .mini_box .slide a .bg{
		width:260px;
		height:100px;
	}
}

/************/

/*zhuLiping第四屏*/
.inner4_top{
	width:100%;
	height: 92px;
	position: absolute;
	/*top: 150px;*/
	margin:10% 0;
}
.in4_topPhoto{
	width: 299px;
	height: 37px;
	margin:0 auto;
	background: url("../image/words.png") no-repeat -152px -528px;
}

.in4_content{
	width: 100%;
	font-size:25px;
	text-align: center;
	margin-top: 20px;
	color: #000;
}
.in4-maskbox{
	width: 1155px;
	height: 300px;
	position: relative;
	margin: 0 auto;
	top: 38%;
}
.inner4_bottom{
	width: 1155px;
	height: 301px;
	position: absolute;
}
.inner4_bottom li{
	list-style: none;
	float: left;
	position: relative;
	width: 231px;
	height: 150px;
	box-sizing: border-box;
	background:#ffffff;
	opacity: 0.8;
	z-index:10;
	border-right: 1px dashed #f3f3f3;
	transition: all .5s ease;
}
.in4-mask{
	width: 231px;
	height: 150px;
	position: absolute;
	background: rgba(0,0,0,0.1);
	display: none;
	transition: all .5s ease;
}
.inner4_bottom li:nth-child(1){
	background: url("../image/clients.png") no-repeat 0 0;
}
.inner4_bottom li:nth-child(1):hover{
	background: url("../image/clients.png") no-repeat 0 -150px;
}
.inner4_bottom li:nth-child(2){
	background: url("../image/clients.png") no-repeat -460px 0;
}
.inner4_bottom li:nth-child(2):hover{
	background: url("../image/clients.png") no-repeat -460px -150px;
}
.inner4_bottom li:nth-child(3){
	background: url("../image/clients.png") no-repeat -2530px 0;
}
.inner4_bottom li:nth-child(3):hover{
	background: url("../image/clients.png") no-repeat -2530px -150px;
}
.inner4_bottom li:nth-child(4){
	background: url("../image/clients.png") no-repeat -690px 0;
}
.inner4_bottom li:nth-child(4):hover{
	background: url("../image/clients.png") no-repeat -690px -150px;
}
.inner4_bottom li:nth-child(5){
	border:none;
	background: url("../image/clients.png") no-repeat -230px 0;
}
.inner4_bottom li:nth-child(5):hover{
	border:none;
	background: url("../image/clients.png") no-repeat -230px -150px;
}
.inner4_bottom li:nth-child(6){
	background: url("../image/clients.png") no-repeat -1380px 0;
	border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(6):hover{
	background: url("../image/clients.png") no-repeat -1380px -150px;
	border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(7){
	background: url("../image/clients.png") no-repeat -1150px 0;
	border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(7):hover{
	background: url("../image/clients.png") no-repeat -1150px -150px;
}
.inner4_bottom li:nth-child(8){
	background: url("../image/clients.png") no-repeat -920px 0;
	border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(8):hover{
	background: url("../image/clients.png") no-repeat -920px -150px;
}
.inner4_bottom li:nth-child(9){
	background: url("../image/clients.png") no-repeat -2772px 0;
	border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(9):hover{
	background: url("../image/clients.png") no-repeat -2772px -150px;
}
.inner4_bottom li:nth-child(10){
	border:none;
	border-top: 1px dashed #f3f3f3;
	background: url("../image/clients.png") no-repeat -1610px 0;
}
.inner4_bottom li:nth-child(10):hover{
	background: url("../image/clients.png") no-repeat -1610px -150px;
}

@media screen and (max-height:580px) {
	.inner4_bottom{
		position: absolute;
		height: 150px;
		overflow: hidden;
	}
}
@media screen and (max-width:1130px) {
	.in4-maskbox{
		position: relative;
		margin-left: 100px;
	}
	.inner4_bottom{
		position: absolute;
		width:924px;
		overflow: hidden;
		margin:0 auto;
	}
}
/*田杨阳第五屏*/
.five{
	width: 100%;
	position: absolute;
	top: 150px;
}
.five .caption{
	width: 100%;
	text-align: center;
}
.five .caption p{
	width: 240px;
	height: 37px;
	margin: 0 auto;
	background: url(../image/words.png)no-repeat 0 -576px;
	margin-bottom: 20px;
}
.five .caption span{
	padding-left: 5px;
	font-size: 24px;
	color: #fff;
	line-height: 30px;
}
.five .items{
	width: 960px;
	margin: 120px auto 0;
	overflow: hidden;
}
.five .items .slide{
	width: 240px;
	margin: 0 40px;
	float: left;
}
.five .items .slide .title{
	width: 168px;
	margin: 0 auto 20px;
	overflow: hidden;
}
.five .items .slide .title .phone{
	width: 14px;
	height: 27px;
	background: url(../image/icons.png)no-repeat 0 -264px;
	margin: 0 15px;
	float: left;
}
.five .items .slide .title .pad{
	width: 29px;
	height: 23px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -71px -264px;
}
.five .items .slide .title .pc{
	margin: 0 15px;
	float: left;
	width: 35px;
	height: 27px;
	background: url(../image/icons.png)no-repeat 0 -303px;
}
.five .items .slide p{
	color: #e1e1e1;
	text-align: center;
	line-height: 36px;
	font-size: 15px;
}

.five .items .slide:nth-of-type(2) .title{
	width: 240px;
	margin: 0 auto 20px;
	overflow: hidden;
}
.five .items .slide:nth-of-type(2) .title .ie{
	width: 28px;
	height: 28px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat 0 -392px;
}
.five .items .slide:nth-of-type(2) .title .chrome{
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -71px -392px;
}
.five .items .slide:nth-of-type(2) .title .firefox{
	width: 32px;
	height: 30px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -0 -432px;
}
.five .items .slide:nth-of-type(2) .title .safari{
	width: 30px;
	height: 32px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -71px -432px;
}
.five .items .slide:nth-of-type(3) .title {
	width: 169px;
	margin: 0 auto 20px;
	overflow: hidden;
}
.five .items .slide:nth-of-type(3) .title .windows{
	width: 27px;
	height: 27px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -73px -304px;
}
.five .items .slide:nth-of-type(3) .title .ios{
	width: 24px;
	height: 30px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -0 -344px;
}
.five .items .slide:nth-of-type(3) .title .andriod{
	width: 28px;
	height: 29px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -72px -345px;
}
.five .lookall{
	display: block;
	width: 240px;
	padding: 12px 0;
	margin: 90px auto 0;
	text-align: center;
	color: #00aa88;
	font-size: 18px;
	letter-spacing: 3px;
	border: 1px solid #00aa88;
	border-radius: 5px;
	text-decoration: none;
	transition:all .3s ease-in-out 0s;
}
.five .lookall:hover{
	background:#00aa88;
	color: #fff;
}
.five .items_mini{
	width: 240px;
	height: 200px;
	margin:120px auto 0;
	position: relative;
	overflow: hidden;
	display: none;
}
.five .items_mini .items_mini_box{
	width: 720px;
	height: 200px;
	position: absolute;
}
.five .items_mini .items_mini_box .slide{
	width: 240px;
	float: left;
}
.five .items_mini .items_mini_box .slide .title{
	width: 168px;
	margin: 0 auto 20px;
	overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title .phone{
	width: 14px;
	height: 27px;
	background: url(../image/icons.png)no-repeat 0 -264px;
	margin: 0 15px;
	float: left;
}
.five .items_mini .items_mini_box .slide .title .pad{
	width: 29px;
	height: 23px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -71px -264px;
}
.five .items_mini .items_mini_box .slide .title .pc{
	margin: 0 15px;
	float: left;
	width: 35px;
	height: 27px;
	background: url(../image/icons.png)no-repeat 0 -303px;
}
.five .items_mini .items_mini_box .slide p{
	color: #e1e1e1;
	text-align: center;
	line-height: 36px;
	font-size: 15px;
}

.five .items_mini .items_mini_box .slide .title2{
	width: 240px;
	margin: 0 auto 20px;
	overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title2 .ie{
	width: 28px;
	height: 28px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat 0 -392px;
}
.five .items_mini .items_mini_box .slide .title2 .chrome{
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -71px -392px;
}
.five .items_mini .items_mini_box .slide .title2 .firefox{
	width: 32px;
	height: 30px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -0 -432px;
}
.five .items_mini .items_mini_box .slide .title2 .safari{
	width: 30px;
	height: 32px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -71px -432px;
}
.five .items_mini .items_mini_box .slide .title3{
	width: 169px;
	margin: 0 auto 20px;
	overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title3 .windows{
	width: 27px;
	height: 27px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -73px -304px;
}
.five .items_mini .items_mini_box .slide .title3 .ios{
	width: 24px;
	height: 30px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -0 -344px;
}
.five .items_mini .items_mini_box .slide .title3 .andriod{
	width: 28px;
	height: 29px;
	float: left;
	margin: 0 15px;
	background: url(../image/icons.png)no-repeat -72px -345px;
}

@media (max-width: 960px){
	.five{
		top: 150px;
	}
	.five .items{
		display: none;
	}
	.five .items_mini{
		display: block;
	}

}

/*zhuLiping第四屏*/
.inner4_top{
    width:100%;
    height: 92px;
    position: absolute;
    /*top: 150px;*/
    margin:10% 0;
}
.in4_topPhoto{
    width: 299px;
    height: 37px;
    margin:0 auto;
    background: url("../image/words.png") no-repeat -152px -528px;
}

.in4_content{
    width: 100%;
    font-size:25px;
    text-align: center;
    margin-top: 20px;
    color: #000;
}
.in4-maskbox{
    width: 1155px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    top: 38%;
}
.inner4_bottom{
    width: 1155px;
    height: 301px;
    position: absolute;
}
.inner4_bottom li{
    list-style: none;
    float: left;
    position: relative;
    width: 231px;
    height: 150px;
    box-sizing: border-box;
    background:#ffffff;
    opacity: 0.8;
    z-index:10;
    border-right: 1px dashed #f3f3f3;
    transition: all .5s ease;
}
.in4-mask{
    width: 231px;
    height: 150px;
    position: absolute;
    background: rgba(0,0,0,0.1);
    display: none;
    transition: all .5s ease;
}
.inner4_bottom li:nth-child(1){
    background: url("../image/clients.png") no-repeat 0 0;
}
.inner4_bottom li:nth-child(1):hover{
    background: url("../image/clients.png") no-repeat 0 -150px;
}
.inner4_bottom li:nth-child(2){
    background: url("../image/clients.png") no-repeat -460px 0;
}
.inner4_bottom li:nth-child(2):hover{
    background: url("../image/clients.png") no-repeat -460px -150px;
}
.inner4_bottom li:nth-child(3){
    background: url("../image/clients.png") no-repeat -2530px 0;
}
.inner4_bottom li:nth-child(3):hover{
    background: url("../image/clients.png") no-repeat -2530px -150px;
}
.inner4_bottom li:nth-child(4){
    background: url("../image/clients.png") no-repeat -690px 0;
}
.inner4_bottom li:nth-child(4):hover{
    background: url("../image/clients.png") no-repeat -690px -150px;
}
.inner4_bottom li:nth-child(5){
    border:none;
    background: url("../image/clients.png") no-repeat -230px 0;
}
.inner4_bottom li:nth-child(5):hover{
    border:none;
    background: url("../image/clients.png") no-repeat -230px -150px;
}
.inner4_bottom li:nth-child(6){
    background: url("../image/clients.png") no-repeat -1380px 0;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(6):hover{
    background: url("../image/clients.png") no-repeat -1380px -150px;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(7){
    background: url("../image/clients.png") no-repeat -1150px 0;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(7):hover{
    background: url("../image/clients.png") no-repeat -1150px -150px;
}
.inner4_bottom li:nth-child(8){
    background: url("../image/clients.png") no-repeat -920px 0;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(8):hover{
    background: url("../image/clients.png") no-repeat -920px -150px;
}
.inner4_bottom li:nth-child(9){
    background: url("../image/clients.png") no-repeat -2772px 0;
    border-top: 1px dashed #f3f3f3;
}
.inner4_bottom li:nth-child(9):hover{
    background: url("../image/clients.png") no-repeat -2772px -150px;
}
.inner4_bottom li:nth-child(10){
    border:none;
    border-top: 1px dashed #f3f3f3;
    background: url("../image/clients.png") no-repeat -1610px 0;
}
.inner4_bottom li:nth-child(10):hover{
    background: url("../image/clients.png") no-repeat -1610px -150px;
}

@media screen and (max-height:580px) {
    .inner4_bottom{
        position: absolute;
        height: 150px;
        overflow: hidden;
    }
}
@media screen and (max-width:1130px) {
    .in4-maskbox{
        position: relative;
        margin-left: 100px;
    }
    .inner4_bottom{
        position: absolute;
        width:924px;
        overflow: hidden;
        margin:0 auto;
    }
}
/*田杨阳第五屏*/
.five{
    width: 100%;
    position: absolute;
    top: 150px;
}
.five .caption{
    width: 100%;
    text-align: center;
}
.five .caption p{
    width: 240px;
    height: 37px;
    margin: 0 auto;
    background: url(../image/words.png)no-repeat 0 -576px;
    margin-bottom: 20px;
}
.five .caption span{
    padding-left: 5px;
    font-size: 24px;
    color: #fff;
    line-height: 30px;
}
.five .items{
    width: 960px;
    margin: 120px auto 0;
    overflow: hidden;
}
.five .items .slide{
    width: 240px;
    margin: 0 40px;
    float: left;
}
.five .items .slide .title{
    width: 168px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items .slide .title .phone{
    width: 14px;
    height: 27px;
    background: url(../image/icons.png)no-repeat 0 -264px;
    margin: 0 15px;
    float: left;
}
.five .items .slide .title .pad{
    width: 29px;
    height: 23px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -264px;
}
.five .items .slide .title .pc{
    margin: 0 15px;
    float: left;
    width: 35px;
    height: 27px;
    background: url(../image/icons.png)no-repeat 0 -303px;
}
.five .items .slide p{
    color: #e1e1e1;
    text-align: center;
    line-height: 36px;
    font-size: 15px;
}

.five .items .slide:nth-of-type(2) .title{
    width: 240px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items .slide:nth-of-type(2) .title .ie{
    width: 28px;
    height: 28px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat 0 -392px;
}
.five .items .slide:nth-of-type(2) .title .chrome{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -392px;
}
.five .items .slide:nth-of-type(2) .title .firefox{
    width: 32px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -0 -432px;
}
.five .items .slide:nth-of-type(2) .title .safari{
    width: 30px;
    height: 32px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -432px;
}
.five .items .slide:nth-of-type(3) .title {
    width: 169px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items .slide:nth-of-type(3) .title .windows{
    width: 27px;
    height: 27px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -73px -304px;
}
.five .items .slide:nth-of-type(3) .title .ios{
    width: 24px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -0 -344px;
}
.five .items .slide:nth-of-type(3) .title .andriod{
    width: 28px;
    height: 29px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -72px -345px;
}
.five .lookall{
    display: block;
    width: 240px;
    padding: 12px 0;
    margin: 90px auto 0;
    text-align: center;
    color: #00aa88;
    font-size: 18px;
    letter-spacing: 3px;
    border: 1px solid #00aa88;
    border-radius: 5px;
    text-decoration: none;
    transition:all .3s ease-in-out 0s;
}
.five .lookall:hover{
    background:#00aa88;
    color: #fff;
}
.five .items_mini{
    width: 240px;
    height: 200px;
    margin:120px auto 0;
    position: relative;
    overflow: hidden;
    display: none;
}
.five .items_mini .items_mini_box{
    width: 720px;
    height: 200px;
    position: absolute;
}
.five .items_mini .items_mini_box .slide{
    width: 240px;
    float: left;
}
.five .items_mini .items_mini_box .slide .title{
    width: 168px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title .phone{
    width: 14px;
    height: 27px;
    background: url(../image/icons.png)no-repeat 0 -264px;
    margin: 0 15px;
    float: left;
}
.five .items_mini .items_mini_box .slide .title .pad{
    width: 29px;
    height: 23px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -264px;
}
.five .items_mini .items_mini_box .slide .title .pc{
    margin: 0 15px;
    float: left;
    width: 35px;
    height: 27px;
    background: url(../image/icons.png)no-repeat 0 -303px;
}
.five .items_mini .items_mini_box .slide p{
    color: #e1e1e1;
    text-align: center;
    line-height: 36px;
    font-size: 15px;
}

.five .items_mini .items_mini_box .slide .title2{
    width: 240px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title2 .ie{
    width: 28px;
    height: 28px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat 0 -392px;
}
.five .items_mini .items_mini_box .slide .title2 .chrome{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -392px;
}
.five .items_mini .items_mini_box .slide .title2 .firefox{
    width: 32px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -0 -432px;
}
.five .items_mini .items_mini_box .slide .title2 .safari{
    width: 30px;
    height: 32px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -71px -432px;
}
.five .items_mini .items_mini_box .slide .title3{
    width: 169px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.five .items_mini .items_mini_box .slide .title3 .windows{
    width: 27px;
    height: 27px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -73px -304px;
}
.five .items_mini .items_mini_box .slide .title3 .ios{
    width: 24px;
    height: 30px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -0 -344px;
}
.five .items_mini .items_mini_box .slide .title3 .andriod{
    width: 28px;
    height: 29px;
    float: left;
    margin: 0 15px;
    background: url(../image/icons.png)no-repeat -72px -345px;
}

@media (max-width: 960px){
    .five{
        top: 150px;
    }
    .five .items{
        display: none;
    }
    .five .items_mini{
        display: block;
    }

}

/*魏福佳页面第一屏*/

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

img {
    width: 100%;
    height: 100%;
}

.carousel {
    width: 500%;
    height: 100%;
}

.carousel > li {
    width: 20%;
    float: left;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.mask {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #000;
    background: rgba(0, 0, 0, 0.01);
}

.lb_1_box {
    width: 100%;
    height: 231px;
    position: absolute;
    top: 165px;
    left: 0px;
}

.lb_1 {
    width: 465px;
    height: 231px;
    position: relative;
    margin: 0 auto;
}

.lb_1_font1 {
    width: 123px;
    height: 231px;
    position: absolute;
    left: -123px;
    top: -20px;
    background: url(../image/words.png) no-repeat top right;

}
.lb_1_font2 {
    height: 162px;
    position: absolute;
    right: -539px;
    top: 10px;
    font-family: "微软雅黑", Arial;
    text-align: left;
}

.carousel > li span {
    font-size: 36px;
    color: White;
    font-family: "微软雅黑", Aria;
}

.lb_1_font2 > i {
    display: block;
    width: 339px;
    height: 66px;
    margin-bottom: 3px;
    background: url(../image/words.png) no-repeat;
}

.carousel > li p {
    font-size: 16px;
    line-height: 25px;
    color: #ccc;
    display: block;
    margin: 0px;
    font-family: "微软雅黑", Arial;
}

.lb_2_font1 {
    width: 320px;
    height: 184px;
    position: absolute;
    left: -520px;
    top: 175px;
    font-family: "微软雅黑", Arial;
    text-align: right;
    display: none;
}

.lb_2_font1 > i {
    display: block;
    width: 320px;
    height: 65px;
    margin: 10px 0px 8px 0px;
    background: url(../image/words.png) no-repeat 0px -72px;
}

.lb_2_font2 {
    width: 50%;
    background: #000;
    position: absolute;
    left: 1800px;
    top: 0px;
    opacity: 0.4;
    display: none;
}

.lb_3_box {
    width: 100%;
    height: 207px;
    top: 309px;
    position: absolute;
    text-align: center;
    display: none;
}

.lb_3_box > i {
    width: 358px;
    height: 66px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    background: url(../image/words.png) no-repeat 0px -219px;
}

.lb_4_font1 {
    width: 100%;
    height: 130px;
    top: -130px;
    position: absolute;
    text-align: center;
}

.lb_4_font1 > i {
    display: block;
    width: 242px;
    height: 64px;
    margin: 0 auto;
    margin-top: 15px;
    background: url(../image/words.png) no-repeat 0px -147px;
}

.lb_4_font2 {
    width: 100%;
    height: 75px;
    top: 600px;
    position: absolute;
    text-align: center;
    display: none;
}

.lb_4_font2 > p > u {
    margin: 0 5px;
    color: #00dfb9;
    text-decoration: none;
}

.innerboxs {
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 10;
}

.newsbox {
    width: 100%;
    padding-top: 30px;
    height: 40px;
    font-size: 14px;
    font-family: "微软雅黑", Arial;
}

.news {
    height: 20px;
    width: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.news > span {
    display: inline-block;
    font-weight: 600;
    color: #00dfb9;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ul_move {
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 0px;
    width: 300px;
}

.ul_move > li {
    height: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

.ul_move > li > a {
    color: #ddd;
}

.ul_move:hover li > a {
    text-decoration: underline;
}

.news > a {
    position: absolute;
    right: 4px;
    top: -1px;
    border-bottom: 1px dotted #00dfb9;
    box-sizing: border-box;
    color: #00dfb9;
}

.circlebox {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.circle {
    display: inline-block;
    width: 40px;
    height: 3px;
    background: #fff;
    margin: 0 2px;
}

.movedown {
    display: inline-block;
    width: 47px;
    height: 47px;
    background: url(../image/icons.png);
    background-position: 0px -60px;
}

.movedown:hover {
    background-position: 0px -112px;
}
/*魏福佳页面第一屏兼容*/

@media (max-height: 650px) and (orientation: landscape) {
    .box .innerboxs {
        bottom: 15px;
        height: 30px;
    }

    .box .innerboxs .newsbox {
        padding-top: 0;
    }

    .box .innerboxs .news {
        margin-left: 100px;
        margin-bottom: 10px;
    }

    .box .innerboxs .circleboxs {
        position: absolute;
        margin: 0px;
        right: 15px;
        bottom: 18px;
        width: 150px;
    }

    .box .innerboxs .circlebox a {
        margin: 0px 3px;
        width: 20px;
    }

    .box .innerboxs a.movedown {
        width: 50px;
        position: absolute;
        margin: 0px;
        left: 15px;
        bottom: 0px;
    }
}

@media (max-height: 480px) and (orientation: landscape), (max-width: 699px) and (orientation: portrait) {
    .box .carousel li .lb_1_box .lb_1 .lb_1_font1 {
        width: 74px;
        height: 139px;
        top: 0;
        background: url(../image/words_mini.png) no-repeat top right;
    }

    .box .carousel li .lb_1_box .lb_1 .lb_1_font2 span {
        font-size: 24px;
    }

    .box .carousel li .lb_1_box .lb_1 .lb_1_font2 i {
        width: 203px;
        height: 40px;
        margin: 3px 0px 5px 0px;
        background: url(../image/words_mini.png) no-repeat;
    }

    .box .carousel li .lb_1_box .lb_1 .lb_1_font2 p {
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }

    .box .carousel li .lb_2_font1 span {
        font-size: 24px;
    }

    .box .carousel li .lb_2_font1 i {
        width: 191px;
        height: 40px;
        margin-top: 8px;
        margin-bottom: 5px;
        background: url(../image/words_mini.png) no-repeat 0px -45px;
        margin-left: 130px;
    }

    .box .carousel li .lb_2_font1 p {
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }

    .box .carousel li .lb_3_box span {
        font-size: 24px;
    }

    .box .carousel li .lb_3_box i {
        width: 216px;
        height: 40px;
        margin-top: 10px;
        background: url(../image/words_mini.png) no-repeat 0px -131px;
    }

    .box .carousel li .lb_3_box p {
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }

    .box .carousel li .lb_4_font1 span {
        font-size: 24px;
    }

    .box .carousel li .lb_4_font1 i {
        width: 143px;
        height: 38px;
        background: url(../image/words_mini.png) no-repeat 0px -88px;
    }

    .box .carousel li .lb_4_font2 p {
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }
}
/*侯梦欣 七屏*/
.sec-qi{
	width:100%;height:100%;
	background:url(../image/wp7.jpg) 50% 60%;
	background-size:cover;
	position:relative;
}
.sectionBox{
	width:1180px;height:300px;
	/*background:gray;*/
	margin:0 auto;
	position:relative;
	top:120px;
}
.sectionLeBox{
	width:480px;height:240px;
	/*background:orange;*/
	float:right;
	position:relative;
	top:33px;left:-130px;
	overflow:hidden;
}
.qidabox{
	width:1920px;height:240px;
	cursor: grab;
}
.qiinner{
	width:480px;height:240px;
	float:left;
}
.qibtnbox{
	width:80px;height:130px;
	margin-bottom:10px;
	background:#1C363C;
	float:left;
	cursor: grab;
}
.qibtn{
	width:80px;height:24px;
	padding:10px 0;
	text-align:center;
}
.qiinner strong{
	display: block;
	color:rgb(221, 221, 221);
	font-size: 40px;
	font-weight: normal;
	letter-spacing: 5px;
}
.qiinner p{
	display:block;
	margin-top: 20px;
	color: #999;
	font-size:14px;
	line-height:35px;
}
.qiinner u{
	display:block;
	margin-top: 20px;
	color: #999;
	font-size: 24px;
	color:rgb(153, 153, 153);
	margin-top:20px;
	text-decoration:none;
}
.qiinner span{
	display:block;
	color: #00dfb9;
	font-size: 22px;
	font-weight: normal;
	text-indent: 28px;
}
.qiinner a{
	display:block;
	margin-top: 20px;
	color: #999;
	line-height: 35px;
	font-size:12px;
}
.qiinner li{
	color: #999;
	line-height: 35px;
	padding-left: 30px;
	list-style: none;
	background: url(../image/point.png) no-repeat 0px 13px;
	font-size:14px;
}
.sec-qi table{
	width:100%;height:70px;
	border-top:1px solid #666;
	background-color: transparent;
	background:#fff;
	opacity:0.5;
	position:absolute;
	bottom:0;
}
.sec-qi table td{
	width:270px;height:70px;
	/*background:green;*/
	float:left;
	color: #bbb;
	text-align: center;
	font-size:14px;
	line-height:70px;
	position:relative;
	z-index:99;
}
.sec-qi table td span{
	display:block;
	width:41px;height:30px;
	margin-right:10px;
	color: #00dfb9;
	font-size: 26px;
	text-decoration: none;
	float:left;
	text-align:center;
	line-height:30px;
	position:absolute;
	left:18px;top:13px;
}

@media screen and (max-width:1120px){
	.sectionLeBox{
		width:480px;height:240px;
		float:right;
		position:relative;
		top:80px;left:-430px;
		overflow:hidden;
	}
	.sec-qi table{
		width:100%;height:72px;
	}
	.sec-qi table td{
		width:190px;height:70px;
		/*background:green;*/
		float:left;
		color: #bbb;
		text-align: center;
		font-size:14px;
		line-height:70px;
		position:relative;
		z-index:99;
	}
	.sec-qi table td span{
		display:block;
		width:40px;height:30px;
		color: #00dfb9;
		font-size: 20px;
		text-decoration: none;
		float:left;
		text-align:center;
		line-height:30px;
		position:absolute;
		left:-5px;top:13px;
	}

}
@media screen and (max-width:1160px){
	.sectionLeBox{
		width:480px;height:240px;
		float:right;
		position:relative;
		top:80px;left:-430px;
		overflow:hidden;
	}
	.sec-qi table{
		width:100%;height:72px;
	}
	.sec-qi table td{
		width:190px;height:70px;
		/*background:green;*/
		float:left;
		color: #bbb;
		text-align: center;
		font-size:14px;
		line-height:70px;
		position:relative;
		z-index:99;
	}
	.sec-qi table td span{
		display:block;
		width:40px;height:30px;
		color: #00dfb9;
		font-size: 20px;
		text-decoration: none;
		float:left;
		text-align:center;
		line-height:30px;
		position:absolute;
		left:-5px;top:13px;
	}

}

@media screen and (max-width:100px){
	.sectionLeBox{

	}
}

@media screen and (max-width:1180px){
	.sectionLeBox{
		width:480px;height:240px;
		float:right;
		position:relative;
		top:80px;left:-430px;
		overflow:hidden;
	}
	.sec-qi table{
		width:100%;height:72px;
	}
	.sec-qi table td{
		width:190px;height:70px;
		/*background:green;*/
		float:left;
		color: #bbb;
		text-align: center;
		font-size:14px;
		line-height:70px;
		position:relative;
		z-index:99;
	}
	.sec-qi table td span{
		display:block;
		width:40px;height:30px;
		color: #00dfb9;
		font-size: 20px;
		text-decoration: none;
		float:left;
		text-align:center;
		line-height:30px;
		position:absolute;
		left:-5px;top:13px;
	}


}

@media screen and (max-width:800px){
	.sec-qi table{
		display:none;
	}

}


@media screen and (max-width:600px){
	.sectionBox{
		width:600px;height:500px;
	}

	.sec-qi table{
		display:none;
	}
	.sectionLeBox{
		width:480px;height:240px;
		/*background:orange;*/
		float:right;
		position:relaive;
		top:80px;left:-30px;
		overflow:hidden;
	}

}

/*赵梦柔*/
.disis {
	height: 44px;
	width: 1150px;
	text-align: center;
	line-height: 44px;
}

.disis span {
	font-size: 24px;
	padding-left: 10px;
	text-align: center;
	display: block;
	padding-top: 10px;
	color: #333333;
}

.diliuzhag {
	width: 100%;
	height: 235px;
	margin-top: 50px;
	list-style: none;
	padding: 0;
	margin-left: 50px;
}

@media (min-width: 1001px) and (max-width: 1300px) {
	.diliuzhag {
		width: 100%;
		height: 235px;
		margin: 60px -90px;
	}

	.disis span {
		text-align: center;
		line-height: 44px;
	}
}

@media (min-width: 601px) and (max-width: 1000px) {
	.diliuzhag {
		width: 550px;
		height: 190px;
		margin: 0 auto;
		padding-right: 180px;
	}

	.disis {
		width: 741px;
		height: 91px;
		text-align: center;
		line-height: 44px;
		color: #333333;
	}

	.disis span {
		text-align: center;
		line-height: 44px;
		color: #333333;
		padding-top: 40px;
		margin-right: 120px;
	}

	.diliuzhag-li {
		margin-left: 10px;
	}
}

@media (min-width: 451px) and (max-width: 600px) {
	.diliuzhag {
		width: 500px;
		height: 234px;
		margin: 0 -20px;
	}

	.diliuzhag-li {
		height: 80px !important;
		text-align: center !important
	}

	.disis {
		width: 304px;
		height: 80px;
		text-align: center;
	}

	.disis span {
		text-align: center;
		line-height: 44px;
		color: #333333;
	}

	.cl {
		display: none;
	}

	.rl {
		display: none;
	}

	.tupian {
		display: none;
	}

	.tupianone {
		display: none;
	}

	.tupiantwo {
		display: none;
	}

	.tupianthree {
		display: none;
	}

	.tupianfour {
		display: none;
	}

	.tupianfive {
		display: none;
	}

	.diliuzhag-li p {
		opacity: 0;
	}
}

@media screen and (max-width: 451px) {
	.diliuzhag {
		width: 220px;
		height: 378px;
		text-align: center;
		margin-top: -40px;
		margin-left: 0px;
	}

	.diliuzhag-li {
		height: 70px !important;
		text-align: center !important
	}

	.disis {
		width: 304px;
		height: 80px;
		text-align: center;
		margin: 0 -60px;
	}

	.disis span {
		text-align: center;
		line-height: 44px;
		color: #333333;
	}

	.cl {
		display: none;
	}

	.rl {
		display: none;
	}

	.tupian {
		display: none;
	}

	.tupianone {
		display: none;
	}

	.tupiantwo {
		display: none;
	}

	.tupianthree {
		display: none;
	}

	.tupianfour {
		display: none;
	}

	.tupianfive {
		display: none;
	}

	.diliuzhag-li p {
		opacity: 0;
	}
}

.diliuzhag-li {
	width: 138px;
	height: 230px;
	margin: 0px 14px;
	padding: 0px 1px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 20px;
	color: #333333;
}

.cl {
	width: 128px;
	height: 128px;
	border: 5px solid #41CDB2;
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	clip: rect(156px, 78px, 156px, 0px);
	transition: all .5s ease;
}

.rl {
	width: 128px;
	height: 128px;
	border: 5px solid #41CDB2;
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	transition: all .5s ease;
	clip: rect(0px, 156px, 0px, 78px)
}

.diliuzhag-li:hover > .cl {
	clip: rect(0px, 78px, 156px, 0px);
}

.diliuzhag-li:hover > .rl {
	clip: rect(0px, 156px, 156px, 78px)
}

.tupian {
	width: 54px;
	height: 70px;
	background: url(../image/5.png) no-repeat -126px -562px;
	background-size: 452px;
	margin: 24px auto;
}

.diliuzhag-li strong {
	margin-top: 50px;
	text-align: center;
	display: block;
	font-size: 16px;
}

.diliuzhag-li p {
	line-height: 20px;
	text-align: center;
	display: block;
	font-size: 14px;
}

.tupianone {
	width: 74px;
	height: 70px;
	background: url(../image/5.png) no-repeat -182px -562px;
	background-size: 452px;
	margin: 26px auto;
}

.tupiantwo {
	width: 68px;
	height: 70px;
	background: url(../image/5.png) no-repeat -256px -562px;
	background-size: 452px;
	margin: 26px auto;
}

.tupianthree {
	width: 61px;
	height: 70px;
	background: url(../image/5.png) no-repeat -328px -562px;
	background-size: 452px;
	margin: 26px auto;
}

.tupianfour {
	width: 56px;
	height: 70px;
	background: url(../image/5.png) no-repeat -394px -570px;
	background-size: 452px;
	margin: 26px auto;
}

.tupianfive {
	width: 51px;
	height: 70px;
	background: url(../image/5.png) no-repeat -130px -630px;
	background-size: 452px;
	margin: 26px auto;
}